# Accessing the Public Data API with Python (Jupyter Notebook & Pandas)

API Version 2.0 Sample Code Updated bls.gov 'API Version 2.0 Python Sample Code', by Mark McEnearney, to use Pandas/Jupyter Notebook.

### Imports

In [1]:
import requests
import json
import pandas as pd

### Build and submit request, then format response as JSON 
Requesting data for two series, LASST060000000000003 (California Unemployment Rate) and LASST080000000000003 (Colorado Unemployment), between the years 2015 and 2022

In [2]:
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['LASST010000000000003','LASST020000000000003','LASST040000000000003','LASST050000000000003','LASST060000000000003','LASST080000000000003'],"startyear":"2017", "endyear":"2022","registrationkey":"8988511dabfc4508a0f08c0c051c1476"})

p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)

json_data = json.loads(p.text)

### Iterate through series data to build a list

In [3]:
parsed_data = []
for series in json_data['Results']['series']:
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        parsed_data.append([seriesId,year,period,value])

### Convert parsed list data into a Pandas DataFrame

In [4]:
df = pd.DataFrame(parsed_data, columns=['seriesID', 'year', 'period', 'value'])

### Describe and display dataframe

In [5]:
display(df)

                 seriesID  year period value
0    LASST010000000000003  2022    M06   2.6
1    LASST010000000000003  2022    M05   2.7
2    LASST010000000000003  2022    M04   2.8
3    LASST010000000000003  2022    M03   2.9
4    LASST010000000000003  2022    M02   3.0
..                    ...   ...    ...   ...
391  LASST080000000000003  2017    M05   2.4
392  LASST080000000000003  2017    M04   2.4
393  LASST080000000000003  2017    M03   2.4
394  LASST080000000000003  2017    M02   2.5
395  LASST080000000000003  2017    M01   2.6

[396 rows x 4 columns]