## authenticate with Service Account & Load packages

In [4]:
from google.oauth2 import service_account
import pandas_gbq
import pandas

credentials = service_account.Credentials.from_service_account_file(
    '/Users/jcachat/Downloads/innate-choir-321900-b0cdb8518f36.json',
)

## Reading data from BigQuery

In [8]:
sql = """
SELECT country_name, alpha_2_code
FROM `bigquery-public-data.utility_us.country_code_iso`
WHERE alpha_2_code LIKE 'A%'
"""

df = pandas_gbq.read_gbq(sql, project_id="innate-choir-321900", credentials=credentials)

df.head()

Downloading: 100%|██████████| 15/15 [00:01<00:00, 10.75rows/s]

           country_name alpha_2_code
0                Angola           AO
1            Antarctica           AQ
2  United Arab Emirates           AE
3               Armenia           AM
4            Azerbaijan           AZ

## Writing data to BigQuery

In [10]:
#Set project_id to your Google Cloud Platform project ID.
project_id = "innate-choir-321900"

#Set table_id to the full destination table ID (including the dataset ID).
table_id = 'jbNotebook.my_table'

df = pandas.DataFrame(
    {
        "my_string": ["a", "b", "c"],
        "my_int64": [1, 2, 3],
        "my_float64": [4.0, 5.0, 6.0],
        "my_bool1": [True, False, True],
        "my_bool2": [False, True, False],
        "my_dates": pandas.date_range("now", periods=3),
    }
)

pandas_gbq.to_gbq(df, table_id, project_id=project_id)

1it [00:07,  7.16s/it]